@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --bg: #020617;
  --bg2: #0f172a;
  --bg3: #1e293b;
  --border: #1e293b;
  --text: #f1f5f9;
  --text2: #94a3b8;
  --text3: #64748b;
  --text4: #475569;
}

html.light {
  --bg: #f8fafc;
  --bg2: #ffffff;
  --bg3: #f1f5f9;
  --border: #e2e8f0;
  --text: #0f172a;
  --text2: #334155;
  --text3: #475569;
  --text4: #64748b;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
}